<%- include('./shared/header') %>
<h1>Dashboard Page</h1>

  <div class="alert alert-primary" style="margin-top: 1rem;">
    <p>Total Users: <%= totals.totalUsers %></p>
  </div>
  <div class="alert alert-light" >
    <p>Total News: <%= totals.totalNews %></p>
  </div>
  <div class="alert alert-danger" >
    <p>Total Categories: <%= totals.totalCategories %></p>
  </div>
<%- include('./shared/footer') %>